# History files
.Rhistory
.RData
.Rprofile
# Example code in package build process
*-Ex.R
# Temporary files
*~
*#
*.dll
# Build packages
*.tar.gz
.Rproj.user
*.Rproj
packrat/lib*/
packrat/src/
packrat
*.o
*.so
*.bak
tests/testthat/*.pdf
inst/doc
vignettes/*.html
vignettes/*.R
vignettes/*.pdf
vignettes/*_cache
vignettes/*_files
results
