# History files
.Rhistory
.RData
.Rprofile

# Example code in package build process
*-Ex.R
# Temporary files
*~
*#
# Build packages
*.tar.gz
.Rproj.user
*.Rproj
packrat/lib*/
packrat/src/
packrat
*.o
*.so
*.bak
tests/testthat/*.pdf
inst/doc
