# History files
.Rhistory
.RData
.Rprofile
# Example code in package build process
*-Ex.R
# Temporary files
*~
*#
# Build packages
*.tar.gz
.Rproj.user
*.Rproj
packrat/lib*/
packrat/src/
packrat
*.o
*.so
*.bak
s6model/tests/testthat/*.pdf
s6model/tests/testthat/*.rds

inst/doc
s6model/vignettes/*.html
s6model/vignettes/*.R
s6model/vignettes/*.pdf
s6model/vignettes/*_cache
s6model/vignettes/*_files
results
