import(numDeriv)
import(methods)
export("getParams",
       "getParams2",
       "simulateData",
       "simulateData3",
       "minimizeme",
       "minimizeme2",
       "estimateParam",
       "estimateParam2",
       "estimateMultidata",
       "parameters",
       "getY",
       "getCor",
       "reloadS6modelPackage",
       "sample2df",
       "tmclapply",
       "getRandomParameters",
       "getRandomParameters.fixedWinf",
       "simplify2dataframe")
exportMethods(
    "lines",
    "plotFit",
    "difference",
    "plotGrowth",
    "plotMortality",
    "plot",
    "show",
    "as.list",
    "setlogWinf<-"
)
exportClasses(
    "Parameters" 
)
